[submodule "Externals/ObjC-SwizzleMethods"]
	path = Externals/ObjC-SwizzleMethods
	url = git://github.com/monoceroi/ObjC-SwizzleMethods.git
[submodule "Externals/NSView+Centering"]
	path = Externals/NSView+Centering
	url = git://github.com/monoceroi/NSView-Centering.git
[submodule "Externals/NSStatusItem+Iconology"]
	path = Externals/NSStatusItem+Iconology
	url = git://github.com/monoceroi/NSStatusItem-Iconology.git
[submodule "Externals/LFWebAPIKit"]
	path = Externals/LFWebAPIKit
	url = git://github.com/lukhnos/LFWebAPIKit.git
[submodule "Externals/JSON-Framework"]
	path = Externals/JSON-Framework
	url = http://github.com/stig/json-framework.git
[submodule "Externals/NSView+DumpDimensions"]
	path = Externals/NSView+DumpDimensions
	url = git://github.com/monoceroi/NSView-DumpDimensions.git
